<!DOCTYPE html>
<html>
<head>
  <title>Univeristy Registrar Tool</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
</head>

<body class="container">
  <h1>University Registrar</h1>
  <div class="table-responsive">
    <table id="myTable", class="table table-bordered">
      <thead>
        <tr>
          <th>Degree Holder/Candidate Name</th>
          <th>Field of Study</th>
          <th>Degree Type</th>
          <th>Completed</th>
          <th>Year Earned/Expected</th>
        </tr>
      </thead>
      
        <% students.forEach(function(student) { %>
            <tr>
              <td><%= student.name %> </td>
              <td><%= student.field_of_study %> </td>
              <td><%= student.degree_type %> </td>
              <td><%= student.completed %> </td>
              <td><%= student.year %> </td>
            </tr>
        <% }); %>
      
      
    </table>
  </div>

 <form action="/student" method="POST">

  <input type="text" placeholder="Name" id="name" name="name"/>
  <input type="text" placeholder = "Field of Study" id="field_of_study" name="field_of_study"/>
  <input type="text" placeholder="Degree Type" id="degree_type" name="degree_type"/>
  <input type="text" placeholder="Completed" id="completed" name="completed"/>
  <input type="text" placeholder="Year Earned" id="year" name="year"/>

  <button onclick="" type= "submit" class="btn btn-primary">Add Degree Candidate</button>
</form>


</body>
<script src="https://cdn.rawgit.com/ethereum/web3.js/develop/dist/web3.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<!-- <script src="./index.js"></script>
<script src="./univ.js"></script> -->

</html>